<!DOCTYPE html>
<html>
<head>
  <title>TmFront</title>
  <%= stylesheet_link_tag    "tm-front/application", :media => "all" %>
  <%= javascript_include_tag "tm-front/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
